<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.GUFL_kongliang.mapper.RegisterMapper">

    <!-- 可根据自己的需求 是否要使用 -->
    <resultMap type="com.GUFL_kongliang.entity.Register" id="registerMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="sno" column="sno"/>
        <result property="college" column="college"/>
        <result property="major" column="major"/>
        <result property="classNo" column="class_no"/>
        <result property="graduationYear" column="graduation_year"/>
        <result property="isWork" column="is_work"/>
        <result property="employmentCompany" column="employment_company"/>
        <result property="jobs" column="Jobs"/>
        <result property="workType" column="work_type"/>
        <result property="pay" column="pay"/>
        <result property="deleted" column="deleted"/>
        <result property="workCities" column="work_cities"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, sno, college, major, class_no, graduation_year, is_work, employment_company, Jobs, work_type, pay,
        deleted, work_cities
    </sql>


    <select id="count" resultType="java.lang.Integer">
        select count(id) from register where
        deleted = 0
        <if test="sampleName != null and sampleName != ''">
            and college=#{college}
        </if>
        <if test="sampleName != null and sampleName != ''">
            and work_type=#{workType}
        </if>
        <if test="sampleName != null and sampleName != ''">
            and major=#{major}
        </if>
        <if test="sampleName != null and sampleName != ''">
            and work_cities=#{workCities}
        </if>
    </select>


    <select id="selecyId" resultType="java.lang.String">
        select id from register
        where
        deleted = 0
        <if test="sampleName != null and sampleName != ''">
            and college=#{college}
        </if>
        <if test="sampleName != null and sampleName != ''">
            and work_type=#{workType}
        </if>
        <if test="sampleName != null and sampleName != ''">
            and major=#{major}
        </if>
        <if test="sampleName != null and sampleName != ''">
            and work_cities=#{workCities}
        </if>
        ORDER BY graduation_year DESC
        <if test="limit != null and limit != '' ">
            limit #{page} , #{limit}
        </if>
    </select>

    <select id="selecyIdList" resultType="com.GUFL_kongliang.entity.Register">
        select <include refid="Base_Column_List"/>
        from register
        where id in
            <foreach collection="idList" item="id" index="i" open="(" close=")" separator=",">
                #{id}
            </foreach>
    </select>

    <select id="selectByIda" resultType="com.GUFL_kongliang.entity.Register">
        select * from register where id=#{id}
    </select>


    <insert id="insertList" parameterType="java.util.List">
        insert into register (id,
        name,
        sno,
        college,
        major,
        class_no,
        graduation_year,
        is_work,
        employment_company,
        jobs,
        work_type,
        pay,
        deleted,
        work_cities) values
        <foreach collection="list" item="item" separator=",">
            <![CDATA[ (
         #{item.id},
         #{item.name},
         #{item.sno},
         #{item.college} ,
         #{item.major} ,
         #{item.classNo} ,
         #{item.graduationYear} ,
         #{item.isWork} ,
         #{item.employmentCompany} ,
         #{item.jobs} ,
         #{item.workType} ,
         #{item.pay} ,
         #{item.deleted},
         #{item.workCities}) ]]>
        </foreach>
    </insert>

</mapper>